#container{
    background-color: black;
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:640px;
    width:1480px;
}

#food{
    position: absolute;
    background-image: url('food.png');
    background-size: cover;
    width:40px;
    height:40px;
}

#scoreText, #score{
    text-align: center;
    font-size:4vmin;
}

#snake{
    position: absolute;
}

.snakeBox{
    position: absolute;
    width:40px;
    height:40px;
    border: none;
    background-color: transparent;
    background-size: cover;
}

img{
    height: 100%;
    width: 100%;
}